.site-header {
	background: transparent;
	padding: 1.4rem 4vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	transition: background 0.3s ease;
}

.site-header:hover {
	background: var(--bg);
}

.header-inner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-nav {
	display: flex;
	gap: 5rem;
	align-items: center;
}

.header-nav a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	transition: color 0.5s ease;
	white-space: nowrap;
}

.site-header:hover .header-nav a {
	color: var(--text);
}

.site-header:hover .header-nav a:hover {
	color: var(--gold);
}

@media (max-width: 900px) {
	.header-nav {
		gap: 1rem;
		font-size: 13px;
	}
}

@media (max-width: 768px) {
	.header-inner {
		flex-direction: column;
		gap: 1rem;
	}
	
	.header-nav {
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.8rem;
	}
}

.menu-toggle {
    display: none !important;
}

@media (max-width: 900px) {

    .menu-toggle {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 10001;
        padding: 0;
        margin-left: auto;
    }

    .menu-toggle span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .header-inner {
        justify-content: flex-end;
        position: relative;
    }

    .header-nav {
        display: none; 
        position: fixed;
        top: 0;
        right: 0;
        width: 281px; 
        max-width: 415px; 
        height: 100vh;  
        background-color: #000;
        opacity: 1;      
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start;
        padding-top: 59px;   
        padding-left: 40px;  
        gap: 1px;           
        z-index: 10000;
    }

    .header-nav.active {
        display: flex;
    }

	.header-nav a {
		font-size: 24px; 
		font-weight: 400;
		color: #fff; 
		text-decoration: none;
		display: block;
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		border-bottom: none;
		transition: color 0.2s ease;
		text-align: left;
		-webkit-tap-highlight-color: transparent; 
	}

	.header-nav a:active, 
	.header-nav a:hover,
	.header-nav a:focus {
		color: #c89b1a !important;
	}

}

.site-header.is-dark .header-nav a{
  color: #000;
}

.site-header.is-dark .header-nav a:hover{
  color: var(--gold);
}

.site-header.is-dark .menu-toggle span{
  background: #000;
}

.site-header.is-dark{
  background: rgba(245,245,245,0.65);
  backdrop-filter: blur(6px);
}

.site-header.is-dark:hover{
  background: rgba(245,245,245,0.85);
}

.site-header.is-dark:hover .header-nav a{
  color: #000;
}